.wrapper
  .box-one
  .show
    - if @article.image.attached?
      %p= image_tag @article.image, {class: "w-full mt-4"}

    %h1.pb-4.pt-4= @article.title
    .flex.justify-between
      %p.text-grey.pb-4= @article.category.name
      %p.text-grey.pb-4 
        =t('author')
        = @article.user.first_name
      %p.text-grey.pb-4= @article.created_at.strftime("%F")
    %p= @article.body

    = link_to 'back', articles_path, {class: "back"}

    %h2 Comments
    - @article.comments.each do |comment|
      %p
        %strong Commenter:
        = comment.user.first_name
        = comment.user.last_name
      %p
        %strong Comment:
        = comment.body

    -if user_signed_in?
      %h2 Add a comment:
      = form_with model: [ @article, @article.comments.build ], local: true do |form|
        %p
          Commenter:
          = current_user.first_name
        %p
          = form.hidden_field :user_id, value: current_user.id
        %p
          = form.label :body
          %br/
          = form.text_area :body
        %p
          = form.submit
    -if user_signed_in? && current_user.editor?
      = link_to 'Publish Article', cms_article_path(@article, {publish: true}), method: :patch

  .box-two