.mainpage
  .indexarticle.flex.flex-col.m-4
    %p= image_tag @index_article.image , {class: "h-64"}
    %h3= link_to "#{@index_article.title}", @index_article
    %p= @index_article.category.name
    %p= @index_article.lede
    %p 
      =t('author')
      = @index_article.user.first_name
    %p= @index_article.created_at.strftime("%F")

  .secondaryarticles.flex.flex-col
    - @secondary_articles.each do |article|
      .flex-col.text-lg.text-center
        %h3= link_to "#{article.title}", article
        %p= article.category.name
        %p= image_tag article.image if article.image.attached?  
        %p= article.lede
        %p 
          =t('author')
          = article.user.first_name
        %p= article.created_at.strftime("%F")
    
    .otherartes.flex.flex-col
      - @articles.each do |article|
        .flex-col.text-sm.text-center
          %h3= link_to "#{article.title}", article
          %p= article.category.name

  .externalarticles.h-screen.bg-grey-lightest.border-2
    %h1 EXTERNAL SOURCES