-if @index_article
  .mainpage
    .indexarticle.flex.flex-col.m-4
      -if @index_article.image.attached?
        %p.pb-4= image_tag @index_article.image, {class: "w-full"}
      %h3.text-4xl.pb-4= link_to "#{@index_article.title}", @index_article , {class: 'titel'}
      .flex.justify-between
        %p.text-grey.pb-4= @index_article.category.name
        %p.text-grey.pb-4 
          =t('author')
          = @index_article.user.first_name
        %p.text-grey.pb-4= @index_article.created_at.strftime("%F")
      %p= @index_article.lede
      
    .secondaryarticles.flex.flex-col.m-4
      -if @secondary_articles
        - @secondary_articles.each do |article|
          .flex-col
            -if article.image.attached?
              %p= image_tag article.image, {class: "w-full"}  
            %h3.text-2xl.pb-4= link_to "#{article.title}", article , {class: 'titel'}
            .flex.justify-between
              %p.text-grey.pb-4= article.category.name
              %p.text-grey.pb-4 
                =t('author')
                = article.user.first_name
              %p.text-grey.pb-4= @index_article.created_at.strftime("%F")
            %p.mb-8= article.lede
        
    -if @articles
      .otherarticles.flex.flex-wrap
        - @articles.each do |article|
          .flex-col.text-sm.text-center.w-64.m-4
            -if article.image.attached?
              %p= image_tag article.image, {class: "w-64"} 
            %h3.text-lg= link_to "#{article.title}", article , {class: 'titel'}
            %p.text-grey.pb-4= article.category.name

    .externalarticles.h-screen.bg-grey-lightest.border-2
      %h1 EXTERNAL SOURCES